.card-container {
    height: 260px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    outline: 2px black solid;
}

.btn-close {
    background-color: #f33;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: none;
    align-self: flex-end;
    margin: 5px;
    color: #fff;
}

.city-name {
    font-size: 26px;
}

.info-container {
    height: 65%;
    width: 88%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}